.blog img {
  width: 100%;
  height: auto; /* Change height to auto for responsive images */
}

.blog .text {
  padding: 20px 15px; /* Reduce padding for smaller screens */
}

.blog h1 {
  font-weight: 500;
  font-size: 18px; /* Reduce font size for smaller screens */
  line-height: 1.4; /* Adjust line-height for better readability */
  margin: 15px 0;
  transition: 0.5s;
}

.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #1eb2a6;
}

.blog span label {
  margin-left: 5px; /* Reduce margin for smaller screens */
  color: grey;
  font-size: 12px; /* Reduce font size for smaller screens */
}

.blog span:nth-last-child(1) label {
  color: #1eb2a6;
}

.blog p {
  color: grey;
  font-size: 14px; /* Adjust font size for better readability */
}

/* Media queries for responsive styles */
@media (max-width: 767px) {
  /* Styles for smaller screens (e.g., mobile devices) */
  .blog .text {
    padding: 15px 10px;
  }

  .blog h1 {
    font-size: 16px;
    margin: 10px 0;
  }

  .blog span label {
    margin-left: 3px;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for medium screens (e.g., tablets) */
  .blog .text {
    padding: 25px 20px;
  }

  .blog h1 {
    font-size: 20px;
    margin: 15px 0;
  }

  .blog span label {
    margin-left: 8px;
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  /* Styles for larger screens (e.g., desktops) */
  .blog .text {
    padding: 40px 30px;
  }

  .blog h1 {
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0;
  }

  .blog span label {
    margin-left: 10px;
    font-size: 14px;
  }
}
